@import 'config';

.history {
  width: 80%;
  margin: 3rem auto;

  &__section {
    &--clear-btn {
      background: $danger-color;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 1rem 2rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    &--table {
      border-collapse: collapse;
      width: 100%;
      font-size: 1.4rem;

      thead {
        background-color: #ecf0f1;
        text-transform: uppercase;
      }

      td,
      th {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #ecf0f1;
      }
    }
  }


  &--empty {
    text-align: center;
    font-size: 1.6rem;
  }
}
